  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ title if title else "Home"}}</title>
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/styles/main.css" media="screen">
    <script type="module" src="/js/notes.js"></script>
  </head>
