$dark: #1a1919;
$mid: #6e5278;
$mid-dark:  #45565c;
$light:  #ededed;
$x-light: white;

$primary: #515ea4;
$secondary:  #fee29d;
$tertiary: #64c372;
$tertiary-dark: #00a754;

$shadow-dark: gray;
$shadow:  rgba(110, 82, 120, 0.2);
$shadow-light: silver;

